<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Norwegian authority file search</title>

  <link href="//tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="//tools-static.wmflabs.org/cdnjs/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="site.css" rel="stylesheet">

  <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/angular.js/1.7.9/angular.min.js"></script>
  <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/angular.js/1.7.8/angular-route.min.js"></script>
  <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/angular.js/1.7.8/angular-sanitize.min.js"></script>
  <script src="//tools-static.wmflabs.org/cdnjs/ajax/libs/ngInfiniteScroll/1.3.0/ng-infinite-scroll.min.js"></script>
  <script src="app.js"></script>

</head>
<body>

  <div class="ubercontainer">

    <nav class="navbar navbar-light bg-light fixed-top" role="navigation">
      <div class="container d-flex">
        <a class="navbar-brand" href="/">Search NORAF</a>

        <form class="form-inline flex-grow-1 d-flex" role="search" ng-submit="submit()" ng-controller="SearchFormCtrl">
          <select
            class="form-control mr-sm-2"
            ng-options="item as item.label for item in scopes track by item.id"
            ng-model="selectedScope"
          ></select>

          <input type="text"
                 class="form-control flex-grow-1 mr-sm-2"
                 placeholder="Person or organization"
                 ng-model="query"
                 autofocus>

          <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-search"></span> Search
          </button>
        </form>
      </div>
    </nav>

    <div class="container">
      <div ng-view></div>
    </div>

    <footer>
      Tool by <a href="https://no.wikipedia.org/wiki/Bruker:Danmichaelo">@Danmichaelo</a>.
      Source <a href="http://github.com/danmichaelo/bsaut">@GitHub</a> available under MIT license.
      Data from <a href="https://authority.bibsys.no/authority/">@Unit</a>.
    </footer>
  </div>
</body>
</html>
