<div ng-show="busy">
  <i class="fa fa-cog fa-spin" ng-show="busy"></i>
  Hold on, looking for records...
</div>
<div ng-show="!busy && numberOfRecords == -1" style="font-size: 115%; padding-top:2em;">
  <p>
    This tool provides a human-friendly interface for searching
    the Norwegian authority file
    <em>
      <a href="https://kunnskapsbase.bibliotekutvikling.no/ressurser/kunnskapsorganisering/verktoykasse-for-kunnskapsorganisering/autoritetsregister-for-personer-og-korporasjoner/" lang="nb">Felles autoritetsregister</a>
    </em> (formerly known as Bibsys authorities, BARE)
    through the <a href="https://authority.bibsys.no/authority/">API provided by Unit</a> (formerly Bibsys).
  </p>
  <p>
    It can be used to locate or validate
    <a href="https://www.wikidata.org/wiki/Property:P1015">P1015</a> values on Wikidata.
  </p>
  <p>
    The query is right-truncated by default.
  </p>
</div>
<div ng-if="error" class="alert alert-danger">
  {{ error }}
</div>
<div ng-show="!busy && !error">
  <div ng-if="records.length < numberOfRecords">
    Showing {{ records.length }} of {{ numberOfRecords }} record(s) found:
  </div>
  <div ng-if="numberOfRecords !== -1 && records.length >= numberOfRecords && records.length !== 0">
    {{ records.length }} record(s) found:
  </div>
  <div ng-if="numberOfRecords !== -1 && records.length >= numberOfRecords && records.length === 0">
    <p>
      No records found for «{{ query }}»
    </p>
    <p>
      <a ng-href="https://viaf.org/viaf/search?query={{ viafSearchField }}%20all%20%22{{ queryEncoded }}%22&sortKeys=holdingscount&recordSchema=BriefVIAF">Try searching VIAF</a>
    </p>
  </div>
</div>

<table ng-show="records.length"
       infinite-scroll="moreRecords()"
       infinite-scroll-distance="0"
       infinite-scroll-disabled="busy"
       class="table table-sm table-borderless table-striped"
>
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Type
      </th>
      <th>
        ID
      </th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="record in records">
      <td>
        <a href="show/{{record.id}}">{{ record.name }}</a>
        <span ng-show="record.birth || record.death">
        ({{ record.birth }}-{{ record.death }})
      </span>
        <i class="fa fa-male" ng-show="record.gender == 'male'" title="Gender: male"></i>
        <i class="fa fa-female" ng-show="record.gender == 'female'" title="Gender: female"></i>
        <i class="fa fa-star" ng-show="record.status == 'kat3'" title="Nasjonalt autoritetsregister (kat3)"></i>
      </td>
      <td>
        {{ record.class }}
      </td>
      <td>
        <span>{{ record.id }}</span>
      </td>
    </tr>
  </tbody>
</table>
