

<h2>
  <i class="fa fa-cog fa-spin" ng-show="authorityBusy"></i> {{record.label }}
</h2>

<div ng-if="!authorityBusy && !record.id">
  <div class="alert alert-danger">
    Authority record not found
  </div>
</div>

<div ng-if="record.id">
  <div style="font-size:80%;">
    <a ng-href="https://authority.bibsys.no/authority/rest/authorities/html/{{ record.id }}">[Full record]</a>
    <a ng-href="https://authority.bibsys.no/authority/rest/authorities/v2/{{ record.id }}?format=xml">[MARC XML]</a>
    <a ng-href="https://authority.bibsys.no/authority/rest/authorities/v2/{{ record.id }}?format=json">[JSON]</a>
  </div>
  <div ng-if="record.replaced_by" class="alert alert-danger">
    <i class="fa fa-arrow-circle-right"></i>
    This authority record is no longer in use.
    It has been replaced by:
    <a ng-href="/show/{{ record.replaced_by.id }}">{{ record.replaced_by.record.name }} ({{ record.replaced_by.id }}) </a>
  </div>
  <div ng-if="record.deleted && !record.replaced_by" class="alert alert-danger">
    This authority record has been deleted and should no longer be used. {{ record.replaced_by}}
  </div>

  <h3 style="margin:0; font-size: 120%;">Authority record</h3>
  <table class="table table-sm table-borderless table-striped">
    <tbody>
      <tr>
        <th class="text-right text-muted" style="width: 25%">
          ID:
        </th>
        <td>
          {{record.id}}
        </td>
      </tr>
      <tr ng-if="record.status">
        <th class="text-right text-muted">
          Status:
        </th>
        <td>
          <span ng-if="record.status == 'kat3'">
            <i class="fa fa-star"></i>
            National level record (kat3)
          </span>
          <span ng-if="record.status == 'kat2'">
            Consortium record (kat2)
          </span>
          <span ng-if="record.status == 'kat1'">
            Draft record (kat1)
          </span>
        </td>
      </tr>
      <tr ng-if="record.status">
        <th class="text-right text-muted">
          Created:
        </th>
        <td>
          {{ record.created.substr(0, 10) }} ({{ record.origin }})
        </td>
      </tr>
      <tr ng-if="record.status">
        <th class="text-right text-muted">
          Last updated:
        </th>
        <td>
          {{ record.modified.substr(0, 10) }}
        </td>
      </tr>
      <tr ng-if="record.sources.length">
        <th class="text-right text-muted">
          Sources:
        </th>
        <td>
          <div ng-repeat="field in record.sources" style="margin-bottom: 4px;">
            <a ng-if="field.uri" ng-href="{{ field.uri }}">{{ field.value }}</a>
            <span ng-if="!field.uri">{{ field.value }}</span>
            <span ng-if="field.details"> : {{ field.details}})</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <h3 style="margin:0; font-size: 120%;">Described entity</h3>
  <table class="table table-sm table-borderless table-striped col col-sm">
    <tbody>
      <tr>
        <th class="text-right text-muted" style="width: 25%">
          Type:
        </th>
        <td>
          {{record.class}}
        </td>
      </tr>
      <tr ng-if="record.corporation_types && record.corporation_types.length">
        <th class="text-right text-muted" style="width: 25%">
          Type of corporate body:
        </th>
        <td>
          <div ng-repeat="field in record.corporation_types">
            {{field.value}}
            <span ng-if="field.from">({{ field.from }}-{{ field.until }})</span>
          </div>
        </td>
      </tr>
      <tr>
        <th class="text-right text-muted" style="width: 25%">
          Name:
        </th>
        <td>
          {{record.name}}
        </td>
      </tr>
      <tr ng-if="record.altLabels.length">
        <th class="text-right text-muted">
          Alternative names:
        </th>
        <td>
          <div ng-repeat="name in record.altLabels">
            {{name}}
          </div>
        </td>
      </tr>
      <tr ng-if="record.birth">
        <th class="text-right text-muted">
          Birth:
        </th>
        <td>
          {{record.birth}}
          <span ng-if="record.place_birth">({{ record.place_birth }})</span>
        </td>
      </tr>
      <tr ng-if="record.death">
        <th class="text-right text-muted">
          Death:
        </th>
        <td>
          {{record.death}}
          <span ng-if="record.place_death">({{ record.place_death }})</span>
        </td>
      </tr>
      <tr ng-if="record.genders && record.genders.length">
        <th class="text-right text-muted">
          Gender:
        </th>
        <td>
          <div ng-repeat="field in record.genders">
            <i class="fa fa-male" ng-if="field.value == 'male'"></i>
            <i class="fa fa-female" ng-if="field.value == 'female'"></i>
            {{field.value}}
            <span ng-if="field.from">({{ field.from }}-{{ field.until }})</span>
          </div>
        </td>
      </tr>

      <tr ng-if="record.groups && record.groups.length">
        <th class="text-right text-muted">
          Associated groups:
        </th>
        <td>
          <div ng-repeat="field in record.groups">
            {{field.value}}
            <span ng-if="field.from">({{ field.from }}-{{ field.until }})</span>
          </div>
        </td>
      </tr>
      <tr ng-if="record.occupations && record.occupations.length">
        <th class="text-right text-muted">
          Occupation:
        </th>
        <td>
          <div ng-repeat="field in record.occupations">
            {{field.value}}
            <span ng-if="field.from">({{ field.from }}-{{ field.until }})</span>
          </div>
        </td>
      </tr>
      <tr ng-if="record.field_of_activity && record.field_of_activity.length">
        <th class="text-right text-muted">
          Field of activity:
        </th>
        <td>
          <div ng-repeat="field in record.field_of_activity">
            {{field.value}}
            <span ng-if="field.from">({{ field.from }}-{{ field.until }})</span>
          </div>
        </td>
      </tr>
      <tr ng-if="record.nationality_bs || record.nationality_bibbi || record.countries.length">
        <th class="text-right text-muted">
          Nationality:
        </th>
        <td>
          <div ng-if="record.nationality_bs">{{record.nationality_bs}} <span class="text-muted small">(from 386 $2 bs-nasj)</span></div>
          <div ng-if="record.nationality_bibbi">{{record.nationality_bibbi}} <span class="text-muted small">(from 386 $2 bibbi)</span></div>
          <div ng-repeat="country in record.countries">
            <abbr ng-if="country.name" title="{{country.name}}">{{country.alpha2}}</abbr>
            <span ng-if="!country.name">{{country.alpha2}}</span>
            <span class="text-muted small">(ISO 3166 code from 043)</span>
          </div>
        </td>
      </tr>
      <tr ng-if="record.place_residence">
        <th class="text-right text-muted">
          Place of residence:
        </th>
        <td>
          {{record.place_residence.name}}
          <span ng-if="record.place_residence.start || record.place_residence.end">
            ({{record.place_residence.start}}-{{record.place_residence.end}})
          </span>
        </td>
      </tr>
      <tr ng-if="record.notes.length">
        <th class="text-right text-muted">
          Notes:
        </th>
        <td>
          <div ng-repeat="(key, note) in record.notes">
            {{ note.value }}
          </div>
        </td>
      </tr>

      <tr ng-if="record.titles.length">
        <th class="text-right text-muted">
          Works:
        </th>
        <td>
          <div ng-repeat="(key, title) in record.titles">
            {{ title.value }}
            <span ng-if="title.date">({{ title.date}})</span>
          </div>
        </td>
      </tr>
      <tr ng-if="record.related.length">
        <th class="text-right text-muted">
          Related entities:
        </th>
        <td>
          <div ng-repeat="rel in record.related">
            <a ng-if="rel.id" ng-href="/show/{{ rel.id }}">{{ rel.name }}</a>
            <span ng-if="!rel.id">{{ rel.name }} ({{ rel.id }})</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="row header">
    <h3 class="col-sm-6" style="margin: 0; font-size: 120%;">Links</h3>
    <div class="col-sm-6 h3r" style="margin: 0;">
      VIAF: <i class="fa fa-cog fa-spin" ng-show="viafBusy"></i> {{viafTimer | number:2 }} secs
      WD: <i class="fa fa-cog fa-spin" ng-show="wdBusy"></i> {{wdTimer | number:2 }} secs
    </div>
  </div>

  <table class="table table-sm table-borderless table-striped">
    <tbody>
      <tr>
        <th class="text-right text-muted" style="width: 25%">
          Wikidata:
        </th>
        <td>
          <div ng-if="wdBusy">
            <i class="fa fa-cog fa-spin"></i> Checking
          </div>
          <div ng-if="!wdBusy">
            <div ng-if="!wikidata.length">
              <i class="fa fa-times text-muted"></i> <em>Not linked from Wikidata</em>
              <a ng-href="https://mix-n-match.toolforge.org/?#/search/{{ record.name}}?include=564">[Mix'n'match]</a>
            </div>
            <div ng-repeat="wikidata_id in wikidata">
              <wikidata-link wikidata-id="{{ wikidata_id }}"></wikidata-link>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th class="text-right text-muted">
          VIAF:
        </th>
        <td viaf-link>
        </td>
      </tr>
      <tr>
        <th class="text-right text-muted">
          ISNI:
        </th>
        <td isni-link>
        </td>
      </tr>
      <tr>
        <th class="text-right text-muted">
          Bibbi:
        </th>
        <td>
          <div ng-if="!record.other_ids.bibbi.length">
            <i class="fa fa-times text-muted"></i> <em>Not linked to Bibbi</em>
          </div>
          <div ng-repeat="bibbi_id in record.other_ids.bibbi track by $index">
            <bibbi-link bibbi-id="{{ bibbi_id }}"></bibbi-link>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>


<div class="row header">
  <h3 class="col-sm-7" style="margin:0; font-size: 120%;">Bibliographic records in Oria</h3>
  <div class="col-sm-5 h3r" style="margin:0">
    <i class="fa fa-cog fa-spin" ng-show="biblioBusy"></i>
    <span ng-if="publications.length">
      {{ publications.length }} bibliographic records fetched
    </span>
    <span ng-if="!publications.length && biblioBusy">
      Waiting
    </span>
    <span ng-if="!publications.length && !biblioBusy">
      0 records found
    </span>
  </div>
</div>

<p ng-if="!biblioBusy && !publications.length" style="margin: 1em 0;">
  <em>No records found</em>
</p>

<ul infinite-scroll="morePublications()" infinite-scroll-distance="0" infinite-scroll-disabled="biblioBusy">
  <li ng-repeat="pub in publications">
    <span ng-if="pub.matched_creator && pub.matched_creator.role">
      {{ pub.matched_creator.role.label }}
      {{ pub.matched_creator.role.adverb }}
    </span>
    <a href="http://bibsys-almaprimo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?vid=BIBSYS&amp;institution=BIBSYS&amp;query=any,contains,{{pub.id}}">
      {{pub.creators[0].name}} ({{pub.year}}). <em>{{pub.title}}</em>
    </a>
    <span ng-if="pub.material_type">({{ pub.material_type }})</span>
    <small>[<a ng-href="https://marcpresentation.bibs.aws.unit.no/?mms_id={{pub.id}}">MARC</a>]</small>
  </li>
</ul>

<div ng-show="biblioBusy">
  <i class="fa fa-cog fa-spin"></i> Fetching records, hold on…
</div>
