<h2>
  {{record.label ? record.label : id }}
</h2>

<div ng-if="!authorityBusy && !record.id">
  <div class="alert alert-danger">
    Bibsys authority record not found
  </div>
</div>

<div ng-if="record.id">

  <div class="row header">
    <h3 class="col-sm-6">Bibsys authority record</h3>
    <div class="col-sm-6 h3r">
      <i class="fa fa-cog fa-spin" ng-show="authorityBusy"></i> {{record ? 'Bibsys query took' : 'Waited for'}} {{authorityTimer | number:2 }} secs
    </div>
  </div>
  <div style="font-size:80%;">
    <a href="https://authority.bibsys.no/authority/rest/sru?version=1.2&operation=searchRetrieve&startRecord=1&maximumRecords=1&query=rec.identifier%3D%22{{ record.id }}%22&recordSchema=marcxchange">
      View source (MARC XML)
    </a>
  </div>
  <table class="table table-sm table-borderless table-striped">
    <tbody>
      <tr>
        <th class="text-right text-muted">
          ID:
        </th>
        <td>
          {{record.id}}
        </td>
      </tr>
      <tr>
        <th class="text-right text-muted" style="width: 25%">
          Type:
        </th>
        <td>
          {{record.class}}
        </td>
      </tr>
      <tr ng-if="record.status">
        <th class="text-right text-muted">
          Status:
        </th>
        <td>
          <span ng-if="record.status == 'kat3'">
            <i class="fa fa-star"></i>
            National Library of Norway record (kat3)
          </span>
          <span ng-if="record.status == 'kat2'">
            Normal consortium record (kat2)
          </span>
          <span ng-if="record.status == 'kat1'">
            Draft record (kat1)
          </span>
        </td>
      </tr>

      <tr>
        <th class="text-right text-muted">
          Name:
        </th>
        <td>
          {{record.name}}
        </td>
      </tr>
      <tr>
        <th class="text-right text-muted">
          Alternative names:
        </th>
        <td>
          <div ng-if="!record.altLabels.length" class="text-muted">(None)</div>
          <div ng-repeat="name in record.altLabels">
            {{name}}
          </div>
        </td>
      </tr>
      <tr ng-if="record.birth">
        <th class="text-right text-muted">
          Date of birth:
        </th>
        <td>
          {{record.birth}}
        </td>
      </tr>
      <tr ng-if="record.death">
        <th class="text-right text-muted">
          Date of death:
        </th>
        <td>
          {{record.death}}
        </td>
      </tr>
      <tr ng-if="record.gender">
        <th class="text-right text-muted">
          Gender:
        </th>
        <td>
          <i class="fa fa-male" ng-if="record.gender == 'male'"></i>
          <i class="fa fa-female" ng-if="record.gender == 'female'"></i>
          {{record.gender}}
        </td>
      </tr>
      <tr ng-if="record.nationality || record.geo">
        <th class="text-right text-muted">
          Nationality:
        </th>
        <td>
          <div ng-if="record.nationality">{{record.nationality}} <span class="text-muted small">(from 386 $2 bs-nasj)</span></div>
          <div ng-if="record.geo">{{record.geo}} <span class="text-muted small">(ISO 3166 code from 043)</span></div>
        </td>
      </tr>
      <tr ng-if="record.notes.length">
        <th class="text-right text-muted">
          Notes:
        </th>
        <td>
          <div ng-repeat="(key, note) in record.notes">
            {{ note.value }}
          </div>
        </td>
      </tr>
      <tr>
        <th class="text-right text-muted">
          See also:
        </th>
        <td>
          <div ng-if="!record.related.length" class="text-muted">(None)</div>
          <div ng-repeat="rel in record.related">
            <a ng-if="rel.id" ng-href="/show/{{ rel.id }}">{{ rel.name }}</a>
            <span ng-if="!rel.id">{{ rel.name }} ({{ rel.id }})</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>


  <div class="row header">
    <h3 class="col-sm-6">External links</h3>
    <div class="col-sm-6 h3r">
      VIAF: <i class="fa fa-cog fa-spin" ng-show="viafBusy"></i> {{viafTimer | number:2 }} secs
      WD: <i class="fa fa-cog fa-spin" ng-show="wdBusy"></i> {{wdTimer | number:2 }} secs
    </div>
  </div>

  <table class="table table-sm table-borderless table-striped">
    <tbody>
      <tr>
        <th class="text-right text-muted" style="width: 25%">
          Wikidata:
        </th>
        <td wd-link>
        </td>
      </tr>
      <tr>
        <th class="text-right text-muted">
          VIAF:
        </th>
        <td viaf-link>
        </td>
      </tr>
    </tbody>
  </table>

</div>


<div class="row header">
  <h3 class="col-sm-7">Bibliographic records in Oria</h3>
  <div class="col-sm-5 h3r">
    <i class="fa fa-cog fa-spin" ng-show="biblioBusy"></i>
    <span ng-if="publications.length">
      {{ publications.length }} bibliographic records fetched
    </span>
    <span ng-if="!publications.length && biblioBusy">
      Waiting
    </span>
    <span ng-if="!publications.length && !biblioBusy">
      0 records found
    </span>
  </div>
</div>

<ul infinite-scroll="morePublications()" infinite-scroll-distance="0" infinite-scroll-disabled="biblioBusy">
  <li ng-repeat="pub in publications">
    <a href="http://bibsys-almaprimo.hosted.exlibrisgroup.com/primo_library/libweb/action/dlSearch.do?vid=BIBSYS&amp;institution=BIBSYS&amp;query=any,contains,{{pub.id}}">
      {{pub.year}}: {{pub.creators[0].name}}. <em>{{pub.title}}</em> <span ng-if="pub.electronic">(e-book)</span>
    </a>
  </li>
</ul>

<div ng-show="biblioBusy">
  <i class="fa fa-cog fa-spin"></i> Fetching records, hold on…
</div>
